<div class="page-header">
	<h1>Editar Directorio</h1>	
</div>


<%= render 'form' %>

<%= link_to 'ver', @directorio, class: 'btn btn-primary' %>
<%= link_to 'regresar', directorios_path, class: 'btn btn-primary' %>
