<h1>Formulario de Contacto</h1>
<hr />
<p class="lead">
	Mensaje Recibido conrrectamente <span class="glyphicon glyphicon-ok"></span><br /><br />
	Se respondera a sus respectivos medios de contacto. <br />
	Muchas Gracias por ponerse en contacto con APERTAC 2015.

	<br />
	<br />
	<a href="/" class="btn btn-lg btn-primary">
		<span class="glyphicon glyphicon-home"></span>
		 Volver al Inicio
	</a>
</p>
